@model TFB.DTOs.Personality

@{
    ViewData["Title"] = "Personality Page";
}
<h1 class="display-4">@Model.Name</h1>

<p>
    <p>
        <strong>Command:</strong>
    </p>
    @Model.Command
</p>
<p>
    <p>
        <strong>Command:</strong>
    </p>
    @Model.PersonalityDescription
</p>
<p>
    <p>
        <strong>AI Model:</strong>
    </p>
    @(Model.Model ?? "gpt-3.5")
</p>
